<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      El Estrecho - Viviendas disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por nombre"></ion-searchbar>
  <ion-list lines="none">
    <ion-item *ngFor="let property of properties">
      <ion-card>
        <img src="{{property.link}}" />
        <ion-card-content>
          <ion-card-title>
            {{property.title.rendered}}
          </ion-card-title>
          <ul class="collection with-header">
            <li *ngFor="let feature of property.propertyFeatureStr" class="collection-item">{{feature}}</li>
          </ul>
          <br>
          <i>
            {{property.regionStr}}
          </i>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button href="{{property.link}}">
              Ver ficha completa
            </ion-button>
            <ion-button (click)="meGusta(property.id)">
              ¡Me gusta!
              <ion-icon slot="end" color="danger" name="heart"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item *ngIf="properties.length === 0">
      <ion-list-header>
        <ion-label>Sin pisos registrados</ion-label>
      </ion-list-header>
    </ion-item>

  </ion-list>
</ion-content>