<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      INMOBILIARIA EL ESTRECHO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!this.busquedaRealizada">
  <div class="fondo">
    <img src="assets/solologo.png">
    <ion-item class="busqueda">
      <ion-label>Zona</ion-label>
      <ion-select value="Inserte zona" id="termino" [(ngModel)]="termino" okText="Seleccionar" cancelText="Cancelar">
        <!--<ion-select-option *ngFor="let region of this.regiones" value="{{region.id}}">{{region.name}}
        </ion-select-option>-->
        <ion-select-option value="32">ALGECIRAS</ion-select-option>
        <ion-select-option value="29">Centro</ion-select-option>
        <ion-select-option value="58">Colonia San Miguel</ion-select-option>
        <ion-select-option value="44">El Cobre</ion-select-option>
        <ion-select-option value="40">El Rinconcillo</ion-select-option>
        <ion-select-option value="55">Ermita</ion-select-option>
        <ion-select-option value="41">La Granja</ion-select-option>
        <ion-select-option value="46">Las Colinas - Pastores</ion-select-option>
        <ion-select-option value="47">Menacha</ion-select-option>
        <ion-select-option value="45">Pelayo</ion-select-option>
        <ion-select-option value="42">Saladillo-Piñera</ion-select-option>
        <ion-select-option value="43">San Bernabé</ion-select-option>
        <ion-select-option value="39">San García-Getares</ion-select-option>
        <ion-select-option value="30">San José Artesano</ion-select-option>
        <ion-select-option value="56">Veradero</ion-select-option>
        <ion-select-option value="59">Virgen de la Palma</ion-select-option>
        <ion-select-option value="23">LA LÍNEA</ion-select-option>
        <ion-select-option value="57">Santa Margarita</ion-select-option>
        <ion-select-option value="25">LOS BARRIOS</ion-select-option>
        <ion-select-option value="31">SAN ROQUE</ion-select-option>
        <ion-select-option value="28">TARIFA</ion-select-option>
      </ion-select>
    </ion-item>

    <br>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngIf="this.opcion_busqueda != 'rent'">
          <ion-item class="precio_minimo">
            <ion-label>Mín. Precio</ion-label>
            <ion-select value="EUR" id="precio_minimo" [(ngModel)]="precio_minimo" okText="Seleccionar"
              cancelText="Cancelar">
              <ion-select-option value="0"> < 50.000 €</ion-select-option>
              <ion-select-option value="50000">50.000 €</ion-select-option>
              <ion-select-option value="75000">75.000 €</ion-select-option>
              <ion-select-option value="100000">100.000 €</ion-select-option>
              <ion-select-option value="125000">125.000 €</ion-select-option>
              <ion-select-option value="150000">150.000 €</ion-select-option>
              <ion-select-option value="175000">175.000 €</ion-select-option>
              <ion-select-option value="200000">200.000 €</ion-select-option>
              <ion-select-option value="225000">225.000 €</ion-select-option>
              <ion-select-option value="250000">250.000 €</ion-select-option>
              <ion-select-option value="600000"> > 250.000 €</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6" *ngIf="this.opcion_busqueda != 'rent'">
          <ion-item class="precio_maximo">
            <ion-label>Máx. Precio</ion-label>
            <ion-select value="EUR" id="precio_maximo" [(ngModel)]="precio_maximo" okText="Seleccionar"
              cancelText="Cancelar">
              <ion-select-option value="0"> < 50.000 €</ion-select-option>
              <ion-select-option value="50000">50.000 €</ion-select-option>
              <ion-select-option value="75000">75.000 €</ion-select-option>
              <ion-select-option value="100000">100.000 €</ion-select-option>
              <ion-select-option value="125000">125.000 €</ion-select-option>
              <ion-select-option value="150000">150.000 €</ion-select-option>
              <ion-select-option value="175000">175.000 €</ion-select-option>
              <ion-select-option value="200000">200.000 €</ion-select-option>
              <ion-select-option value="225000">225.000 €</ion-select-option>
              <ion-select-option value="250000">250.000 €</ion-select-option>
              <ion-select-option value="600000"> > 250.000 €</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-col *ngIf="this.opcion_busqueda === 'rent'">
      <ion-item class="precio_maximo">
        <ion-label>Precio Alquiler</ion-label>
        <ion-select value="EUR" id="precio_maximo" [(ngModel)]="precio_maximo" okText="Seleccionar"
          cancelText="Cancelar">
          <ion-select-option value="0">Sin filtro</ion-select-option>
          <ion-select-option value="500">Menos de 500 €</ion-select-option>
          <ion-select-option value="100000">Más de 500 €</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <br>

    <ion-item class="precio_maximo">
      <ion-label>¿Quieres alquilar o comprar?</ion-label>
      <ion-select value="opcion_busqueda" id="opcion_busqueda" [(ngModel)]="opcion_busqueda" okText="Seleccionar"
        cancelText="Cancelar">
        <ion-select-option value="todos">Todos</ion-select-option>
        <ion-select-option value="rent">Alquiler</ion-select-option>
        <ion-select-option value="sale">Venta</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="buscar()" color="medium">Buscar</ion-button>
  </div>
  <!---->
</ion-content>

<ion-content class="fondo" *ngIf="this.busquedaRealizada && !this.detalles">
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar por nombre"></ion-searchbar>
  <ion-button (click)="volver()" color="medium">Volver</ion-button>
  <ion-list lines="none">
    <ion-item *ngFor="let property of this.propiedadesMostrar">
      <ion-card>
        <img src="{{property.foto}}" />
        <ion-card-content>
          <ion-card-title>
            {{property.title.rendered}}
          </ion-card-title>
          <ul class="collection with-header">
            <li *ngFor="let feature of property.propertyFeatureStr" class="collection-item">{{feature}}</li>
          </ul>
          <br>
          <h2 style="color: green">
            {{ property.precio_propiedad }} €
          </h2>
          <br>
          <i>
            {{property.regionStr}}
          </i>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button (click)="verDetalles(property)" color="medium">
              Ver ficha completa
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item *ngIf="this.propiedadesMostrar.length === 0" color="medium">
      <ion-list-header>
        <ion-label>Cargando...</ion-label>
      </ion-list-header>
    </ion-item>

  </ion-list>
</ion-content>

<ion-content class="fondo" *ngIf="this.detalles">
  <ion-button (click)="volverABusqueda()" color="medium">Volver</ion-button>

  <ion-slides>
    <ion-slide *ngFor="let foto of pisoSeleccionado.fotos">
      <img src="{{foto}}" alt="">
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{pisoSeleccionado.title.rendered}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="pisoSeleccionado.content.rendered"></div>
    </ion-card-content>
  </ion-card>
</ion-content>