
ion-button{
  align-content: center;
  margin-left: 10%;
}

ion-title {
  margin-left: 0%;
  font: 100% sans-serif;
  text-align: center;
}

ion-item.busqueda {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}