<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      INMOBILIARIA EL ESTRECHO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <table>
      <tr>
        <td><ion-icon size="large" name="call"></ion-icon></td>
        <br>
        <td>Llámanos 856 129 114</td>
      </tr>
      <br>
      <tr>
        <td><ion-icon size="large" name="globe"></ion-icon></td>
        <br>
        <td>www.inmobiliariaelestrecho.com</td>
      </tr>
      <br>
      <tr>
        <td><ion-icon size="large" name="mail"></ion-icon></td>
        <br>
        <td>info@inmobiliariaelestrecho.com</td>
      </tr>
      <br>
      <tr>
        <td><ion-icon size="large" name="home"></ion-icon></td>
        <br>
        <td>C/ Fuerte Santiago, Centro Blas Infante. 2ª planta</td>
      </tr>
  </table>
  <img src="assets/fondo.jpeg">
</ion-content>
